################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/DHCPV6Client-PD/x64
/x64
/Resource/Resource.aps
